.funnel-picker .variations {
    display: none;
}

.funnel-picker__top-price {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1;
    color: #161616;
}

.funnel-picker__top-price-label {
    font-weight: bold;
}

.funnel-picker__top-price-base {
    font-size: 1.8em;
}

.funnel-picker__options-section {
    padding: 30px 0;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 30px;
}

.funnel-picker__options-title {
    margin: 0 0 25px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    color: #161616;
}

.funnel-picker__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-bottom: 25px;
}

.funnel-picker__options-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 210px;
    flex: 0 1 210px;
    max-width: 210px;
    text-align: center;
}

.funnel-picker__options-item:not(:last-child) {
    margin-right: 3%;
}

.funnel-picker__options-input {
    position: absolute;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    width: 0;
    height: 0;
}

.funnel-picker__options-label,
.funnel-picker__options-img img {
    display: block;
    cursor: pointer;
}

.funnel-picker__options-img {
    display: block;
    border: 2px solid #fff;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    margin-bottom: 25px;
}

.funnel-picker__options-img:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #e8e4ff;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.funnel-picker__options-input:checked+.funnel-picker__options-label>.funnel-picker__options-img {
    border-color: #89c04e;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.funnel-picker__options-input:checked+.funnel-picker__options-label>.funnel-picker__options-img:before {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.funnel-picker__options-title {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: #161616;
}

.funnel-picker__options-tagline {
    font-size: 14px;
    color: #717171;
    margin-bottom: 0;
}

.funnel-picker__shipping-text {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 55px;
    padding-bottom: 55px;
    font-size: 16px;
    font-weight: bold;
    color: #161616;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.funnel-picker__shipping-text svg {
    height: 45px;
    width: auto;
    margin-right: 10px;
}

.funnel-picker .wcsatt-options-product-wrapper {
    margin-bottom: 30px;
}

.funnel-picker .wcsatt-options-product-wrapper select {
    margin-bottom: 0;
}

.funnel-picker .wcsatt-options-product-wrapper option {
    padding: 5px 10px;
}

.funnel-picker .woocommerce-variation-add-to-cart {
    text-align: center;
}

.funnel-picker .woocommerce-variation-add-to-cart .single_add_to_cart_button {
    float: none !important;
}

.funnel-picker .wcsatt-options-prompt-label {
    padding-left: 30px;
    position: relative;
}

.funnel-picker .wcsatt-options-prompt-action-input {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.funnel-picker .woocommerce-variation-price .price,
.wcsatt-options-wrapper .funnel-onetime-price-top,
.wcsatt-options-wrapper .funnel-subscription-price-top,
.wcsatt-options-wrapper .funnel-onetime-price-radio,
.wcsatt-options-wrapper .funnel-subscription-price-radio {
    display: none;
}

.wcsatt-options-wrapper .wcsatt-options-prompt-action+span {
    display: block;
}